.light-border {
  border: 1px solid #D0DAE8;
}

.red-border {
  border: 1px solid #F12A2A; 
}

.middle-padding {
  padding: 15px;
}

.height300 {
  height: 300px;
}

.height200 {
  height: 200px;
}

.width150 {
  width: 150px;
}

.width136 {
  width: 136px;
}

.spilt-line {
  width: 90%;
  color: #CCC;
  margin: 0 auto;
}
